.App {
  text-align: center;
  height: 1400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.first-white-banner {
  background-color: darkblue;
  height: calc(100vh + 100vw);
  width: calc(100vh + 100vw);
  transform-origin: top left;
  position: fixed;
  z-index: 1;
  top: 100vh;
}