* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

h1 {
  margin: calc(70px + 3vh) auto 20px auto;
  text-align: center;
}

strong {
  hyphens: auto;
}

img {
  max-width: 100%;
}

nav {
  margin: auto;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  margin: auto;
}

nav li {
  display: inline-block;
  margin: 0px 10px;
}

.nav-links {
  position: fixed;
  z-index: 6;
  font-family: "Arial";
  top: 0;
  font-size: 20px;
  width: 100%;
  display: flex;
  height: 70px;
  
}

.blue-nav-background {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: darkblue;
  z-index: 5;
  top: 0;
  box-shadow: 0px 0px 5px 0px black;
}






.reveal {
  position: fixed;
  top: 70px;
  color: white;
  z-index: 2;
  padding: 0 10vw;
  width: 80vw;
}








.reveal--half {
  height: calc((100vh - 70px)/2);
}

.large-letters {
  font-size: calc(3vmax + 5vmin);
  max-width: 80vw;
  position: absolute;
  left: 10vw;
  margin: 2vmin;
}

.text-outline {
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

.dotted-box-top {
  border-width: 1px;
  height: calc((100vh - 70px) * .4);
  width: 90vw;
  border-color: darkblue;
  border-style: dashed none none dashed;
}
.dotted-box-top::before {
  content: "";
  position: fixed;
  top: calc((100vh - 70px) * .5 + 60px);
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid darkblue;
}

.dotted-box-top::after {
  content: "Scroll down...\00a0\00a0";
  color: darkblue;
  text-align: right;
  position: fixed;
  top: calc(((100vh - 70px) * .4) + 70px);
  left: 10vw;
  width: 40vw;
  height: calc((100vh - 70px) * .1 - 10px);
  border-style: dashed dashed none none;
  border-width: 1px;
  border-color: darkblue;
}

.dotted-box-bottom::before {
  content: "";
  position: fixed;
  top: calc(100vh - 10px);
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
.dotted-box-bottom {
  position: fixed;
  left: 0;
  border-width: 1px;
  height: calc((100vh - 70px) * .4);
  width: 90vw;
  border-color: white;
  border-style: dashed dashed none none;
}
.dotted-box-bottom::after {
  content: "\00a0\00a0...keep scrolling";
  color: white;
  position: fixed;
  top: calc(((100vh - 70px) * .9) + 70px);
  left: 50%;
  width: 40vw;
  height: calc((100vh - 70px) * .1 - 10px);
  border-style: dashed none none dashed;
  border-width: 1px;
  border-color: white;
}

.content-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.info-section {
  max-width: 800px;
  margin: auto;
  font-size: 1.5em;
  padding: 0 20px;
}

.scroll-spacer {
  height: 900px;
}

.nav-spacer {
  height: 70px;
  background-color: white;
}



.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.project-window {
  margin: 25px auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.project-description {
  /*flex: 1;*/
/*  min-width: 200px;*/
  max-width: 600px;
  font-size: 1em;
  margin: 5px auto;
  padding: 0 20px 0 0;
}

.project-image {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
}

.project-image img {
  /*border-style: solid;
  border-width: 1px;
  border-color: darkblue;*/
  margin: 10px 0;
  box-shadow: 0 0 5px 0 black;
}

.text-center {
  text-align: center;
}


.contact-link-wrapper {
  margin: 10px auto 100px auto;
}

.contact-logo {
  width: 2em;
  margin: 1em auto 0 auto;
}

.contact-text {
  text-align: center;
}


.bottom-banner {
  height: calc(50px + 40vh);
  width: 100%;
  background-color: darkblue;
  position: relative;
  z-index: 4;
  display: flex;
}

.bottom-banner-text {
  color: white;
  margin: auto;
  text-align: center;
}

.bottom-banner-text a {
  color: white;
}

.background-box {
  position: fixed;
  top: 0;
  z-index: 0;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.first-box {
  background-color: darkblue;
  height: calc(100vh + 100vw);
  width: calc(100vh + 100vw);
  transform-origin: top left;
  position: fixed;
  z-index: 1;
  top: 100vh;
  box-shadow: 5px 5px 5px 5px black;
}

.second-box {
  background-color: white;
  width: calc(100vh + 100vw);
  transform-origin: top left;
  position: fixed;
  z-index: 3;
  top: 70px;
  box-shadow: inset 0px 5px 5px -5px black;
}

.mobile {
  display: none;
}

.mobile-banner{
  color: white;
  background-color: darkblue;
  font-size: 1.5em;
  padding: 20px;
}

@media (max-width: 900px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .contact-logo {
    display: inline-block;
    margin: 10px 15px;
  }

  .contact-text {
    display: none;
  }
}